.dc-timeline {
    &__flex {
        display: flex;
        border-left: var(--brand-primary) solid 1px;
        position: relative;
        margin-left: 1.2rem;

        &--no-border {
            border-left: unset;
        }
    }
    &__container {
        margin-top: 4px;
        margin-left: 20px;
    }
    &__title {
        max-width: 500px;

        @at-root .dc-timeline__flex--disabled & {
            color: var(--color-text-secondary);
        }
    }
    &__oval {
        width: 24px;
        height: 24px;
        line-height: 2.35rem;
        background-color: var(--brand-primary);
        border-radius: 50%;
        text-align: center;
        margin-right: 8px;
        position: absolute;
        padding-left: 1px;
        left: -12px;

        @at-root .dc-timeline__flex--disabled & {
            background-color: var(--color-text-secondary);
        }
    }
    &__number {
        position: relative;
        left: -1px;
    }
    &__content {
        margin: 16px 0;
        color: var(--color-text-primary);

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
