.dc-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--brand-white);

    &--contained {
        border: none;
    }

    &--bordered {
        border: 1px solid var(--color-surface-border);
        color: var(--color-text-primary);
    }

    &--blue {
        background-color: var(--brand-info);
    }

    &--orange {
        background-color: var(--brand-warning);
    }

    &--red {
        background-color: var(--brand-danger);
    }

    &--gray {
        background-color: var(--color-interactive-default);
    }

    &--full-rounded {
        border-radius: $BORDER_RADIUS/2;
    }

    &--two-rounded {
        border-bottom-left-radius: $BORDER_RADIUS * 2;
        border-top-right-radius: $BORDER_RADIUS * 2;
    }
}
