.dc-checkbox {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    &__input {
        display: none;
    }
    &__box {
        display: flex;
        width: 16px;
        height: 16px;
        transition: 0.3s ease-in-out;
        flex-shrink: 0;
        margin: 0 8px;
        border-radius: 2px;
        align-self: center;
        box-sizing: border-box;
        border: 2px solid var(--color-text-secondary);
        outline: none !important;

        &--active {
            border: none;
            background-color: var(--brand-primary);
        }
    }
    &--active {
        border: none;
        background-color: var(--brand-primary);
    }
    &--disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
    }
    &--grey-disabled {
        background-color: var(--checkbox-disabled-grey);
    }

    &__label {
        &--error {
            color: var(--color-text-danger) !important;
        }
    }
}
