.dc-icon {
    --fill-color1: var(--color-text-secondary);
    --fill-color2: var(--color-text-secondary);
    --fill-color3: var(--color-surface-primary);
    --fill-color4: var(--color-surface-section);
    --fill-color5: var(--color-text-primary);

    &--disabled {
        --fill-color1: var(--color-text-disabled);
        --fill-color2: var(--color-text-disabled);
    }
    &--active {
        --fill-color1: #{var(--brand-white)};
        --fill-color2: #{var(--brand-white)};
    }
    &--green {
        --fill-color1: var(--color-text-success);
        --fill-color2: var(--color-text-success);
        --fill-color3: #{var(--brand-white)};
    }
    &--red {
        --fill-color1: var(--color-text-danger);
        --fill-color2: var(--color-text-danger);
        --fill-color3: #{var(--brand-white)};
    }
    &--secondary {
        --fill-color1: var(--color-text-secondary);
        --fill-color2: var(--color-text-secondary);
        --fill-color3: #{var(--brand-white)};
    }
    &--brand {
        --fill-color1: var(--brand-primary);
        --fill-color2: var(--brand-secondary);
        --fill-color3: #{var(--brand-white)};
    }
    &--black {
        --fill-color1: var(--color-text-primary);
    }
    &--orange {
        --fill-color1: var(--color-status-warning);
    }
}
