// Range Slider
/** @define range-slider */
.range-slider {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 4px;
    box-sizing: border-box;

    &__label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 4px;
    }
    /* overriding firefox shadow pseudo element */
    &__track[type='range']::-moz-focus-outer {
        border: 0;
    }
    // TODO: remove once we have proper styling for input slider validation error
    &__error {
        .range-slider {
            &__track[type='range'] {
                // Range Handle Thumb - Chrome / Webkit based browsers
                &::-webkit-slider-thumb {
                    background: var(--color-text-danger);
                }
                // Range Handle Thumb - Firefox / Gecko based browsers
                &::-moz-range-thumb {
                    background: var(--color-text-danger);
                }
            }
            &__line {
                background: var(--color-text-danger) !important;
            }
            &__ticks-step--marked {
                background: var(--color-text-danger) !important;
                border-color: var(--color-text-danger) !important;
            }
        }
    }
    &__track[type='range'] {
        position: relative;
        // removal of !important is pending refactor in main trading sass file that overrides rules for input els
        appearance: none !important;
        width: 100% !important;
        height: 2px; // !important had to be removed to fix disappearing thumb on MS Edge
        border-radius: 5px;
        outline: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        background: var(--color-surface-primary);
        border: none;

        // Handles Track - MS Edge and IE
        @supports (-ms-ime-align: auto) {
            height: 14px;
            position: relative;
            top: -6px;
        }
        // Range Handle Thumb - Chrome / Webkit based browsers
        &::-webkit-slider-thumb {
            @include thumbStyle();
            background: var(--color-interactive-active);
        }
        // Range Handle Thumb - Firefox / Gecko based browsers
        &::-moz-range-thumb {
            @include thumbStyle();
            background: var(--color-interactive-active);
        }
        // Range Handle Thumb - Microsoft Edge
        &::-ms-thumb {
            @include thumbStyle();
            background: var(--color-interactive-active);
        }
        &:hover,
        &:focus,
        &:active {
            border: 0;
            outline: none;
        }
        &:active,
        &:focus {
            box-shadow: none !important;
        }
        &::-ms-tooltip {
            display: none;
        }
        &[type='range']::-ms-track {
            /*example */
            width: 100%;
            height: 2px;
            border-width: 6px 0;
            background: var(--color-interactive-active);
            border-color: var(--color-surface-border);
            color: var(--color-interactive-active);
        }
        &[type='range']::-ms-fill-upper {
            height: 2px;
            background: var(--color-interactive-active);
        }
        &[type='range']::-ms-fill-lower {
            height: 2px;
            background: var(--color-interactive-active);
        }
    }
    &__ticks {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        left: 0;
        top: -3px;
        height: 0;

        &-step {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            transition: box-shadow 0.2s;
            cursor: pointer;
            border: 4px solid var(--color-surface-border);
            background: var(--color-surface-primary);

            &--active,
            &--marked {
                background: var(--color-interactive-active);
                border-color: var(--color-interactive-active);
            }
            &--marked-hover {
                background: var(--color-interactive-hover);
                border-color: var(--color-interactive-hover);
            }
            &--marked:hover:not(&--active) {
                border-color: var(--color-interactive-active) !important;
            }
            &--active {
                visibility: hidden;
                pointer-events: none;

                &:after {
                    content: '';
                    width: 1em;
                    height: 1em;
                    position: absolute;
                    display: block;
                    top: 0;
                    border-radius: 50%;
                    background: var(--color-interactive-active);
                }
            }
            &:hover:not(&--active) {
                background: var(--color-interactive-hover);
                border-color: var(--color-interactive-hover);
                box-shadow: 0 0 0 5px var(--color-shadow-medium);
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__line {
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        pointer-events: none;
        background: var(--color-interactive-active);

        &--fill {
            background: var(--color-interactive-hover);
        }
    }
    &__caption {
        text-align: center;
        padding-top: 8px;
    }
}
